<div class='row'>
  <div class='login-form'>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    
      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    
      <div class="actions">
        <%= f.submit "Log in", class: 'btn' %>
      </div>
    <% end %>
    <br/> 
    <%= render "devise/shared/links" %> 
  </div>
</div>

