@import "variables";

$font-color: #ffffff;

.user {
    float: right;
}

.top-bar {
    @include background-color($pneuma-purple);
    padding: 10px;
    color: $font-color;
    a {
        text-decoration: none;
        color: $font-color; 
    }
}

.left-pane {
    @include background-color($pneuma-purple);
    color: $font-color;
    ul{
        list-style-type: none;
        .item-container {
            padding: 10px;
            border-bottom: 1px solid #cdbfe3;
        }
    }
    a {
        text-decoration: none;
        color: $font-color;
    }
}

.content {
  float: left;
  margin-left: 30px;
}

button {
  background-color: #B67BFF;
  color: #fff;
}

.sermon-form {
  margin-top: 3%;
  background-color: #fff;
  padding: 1% 2%;
}

hr {
    border: 1px solid #B67BFF;
}
